@import "../stylesheets/components/index.scss";

body {
	position: relative;
	overflow-x: hidden;
	background-image: linear-gradient(
			rgba(255, 235, 205, 0.5),
			rgba(255, 235, 205, 0.8)
		),
		url("../images/bandeiras.png");
	background-size: contain;
	background-repeat: repeat-x;
	background-position: 50%;
	position: relative;
	z-index: 10;
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
		"Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
		"Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
		"Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
	margin: 0px;
}

a {
	color: rgba(#000, 0.7);

	&:focus,
	&:hover {
		color: rgba(#000, 0.6);
	}
}

.container {
	padding: 0px 120px;
}

.sub-header {
	text-align: center;
	font-size: 32px;
}
