<div class="footer">
  <div class="brands">
    <% data.brands.each_with_index do |brand, index| %>
      <div class="partnership div<%= index+1 %>">
        <%= image_tag brand.image, width: '200px', class: 'logos' %>
      </div>
    <% end %>
  </div>
</div>
