<div class="quadro-avisos">
  <div class="board">
      <div class="post-it-wrapper">
         <% data.infos.each do |info| %>
            <div class="post-it">
               <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
               <h3><%= info.name %></h3>
               <p><%= info.description %></p>
            </div>
         <% end %>
      </div>
  </div>
</div>
