<div class="quadro-avisos">
  <div class="board">
    <div class="post-it-wrapper">
      <div class="post-it date-card">
          <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
          <h3> Data do Evento</h3>
          <p>A 20º Festa Junina Beneficente occorerá em <strong> Junho 25, 2025 </strong>. Marquem seus calendários!</p>
      </div>
      <div class="post-it">
          <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
          <h3>Estacionamento</h3>
          <p>Vagas limitadas disponíveis! Sejam pacientes, se possível use transporte público ao ir para o evento.</p>
      </div>
      <div class="post-it bebida-card">
          <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
          <h3>Items Proibidos</h3>
          <p>Por motivos de seguraça,bebidas alcólicas são estritamente proibidas. Bebidas não-alcólicas estarão á venda no dia do evento.</p>
      </div>
      <div class="post-it bebida-card">
          <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
          <h3>Doações</h3>
          <p>Aceitamos doações de brinquedos e doces. Sua bondade fará esse evento mais especial. Obrigada pelo seu suporte!</p>
      </div>
      <div class="post-it bebida-card">
          <i class="fa-solid fa-circle pin" style="color: #ab0d0d;"></i>
          <h3>Prêmios</h3>
          <p>Junte-se a nós para jogar Bingo! Não perca a oportunidade de se divertir e levar para casa prêmios incríveis. </p>
      </div>
    </div>
  </div>
</div>
