<nav class="nav-orange">   
    <div class="wrapper">
        <div>
            <h3><a id="church-name">Igreja Católica Sagrado Coração de Jesus</a></h3>
        </div>

        <div class="menu-icon">
            <i class="fa-solid fa-bars hamburguer-icon"></i>      
        </div>

        <div class="nav-links">
            <ul class="link-list">
                <% data.links.each do |link| %>
                    <li>
                        <%= link_to link.name, link.href, class: 'page-links' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>