<div class="brands">
   <% 2.times do %>
      <div class="sponsors">
            <% data.brands.each do |brand| %>
               <div class="slideLeft">
                  <%= image_tag brand.image, class: 'logos' %>
               </div>
            <% end %>
      </div>
   <% end %>
</div>

