<div class="brands">
  <!-- Desktop version: one combined slide -->
  <% 2.times do %>
   <div class="sponsors all-logos">
      <% data.brands.each do |brand| %>
         <% brand.slides.each do |logo| %>
         <div class="slide">
            <%= image_tag logo.image, class: 'logos' %>
         </div>
         <% end %>
      <% end %>
   </div>
  <% end %>
  

  <!-- Mobile version: two separate slides moving in opposite directions -->
   <% data.brands.each_with_index do |brand, index| %>
      <div class="sponsors <%= index.even? ? 'slideLeft' : 'slideRight' %> mobile-only">
            <% 2.times do %>
         <div class="slide-track">
               <% brand.slides.each do |logo| %>
                  <div class="slide">
                     <%= image_tag logo.image, class: 'logos' %>
                  </div>
               <% end %>
         </div>
            <% end %>
      </div>
   <% end %>
</div>
