.grid-wrapper {
  display: flex;
}

.round-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

// .card-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
// }

.prize-game {
  width: 20px;
  height: 50px;
}

.card {
  border: 1px solid black;
}

.prize-img {
  box-shadow: 2px 2px 3px rgb(105, 105, 105);
  width: fit-content;
  height: 200px;
  border-radius: 8px;
}

.prize-text {
  text-align: center;
}
