.nav-orange {
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 0.7rem 5rem;
  background-color: orange;
  margin: 0px auto;
  h3 {
    font-size: 24px;
    margin: 0px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    margin-left: auto;
  }
}

.link-list {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 0px;
  margin: 1.125rem 0 0 0;
  padding-bottom: 8px;
}

.hamburguer-icon {
  display: none;
}

.link-list li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  transition: 0.5s;
  z-index: 1;
}

.link-list li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(1);
  opacity: 0;
  transition: 0.3s;
}

.link-list li a::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgreen;
  transform: scale(1);
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}

.link-list li a:hover {
  color: #fff;
}

.link-list li a:hover::before {
  transform: scaleY(1.5);
  opacity: 1;
}

.link-list li a:hover::after {
  transform: scaleY(1.5);
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .nav-orange {
    position: sticky;
    top: 0px;
    z-index: 3;
    padding: 1rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      font-size: 14px;
      max-width: 90%;
      padding-right: 0.5rem;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
  }

  .hamburguer-icon {
    display: block;
    align-items: flex-end;
    font-size: 14px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: block;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: orange;
  }

  .link-list {
    flex-direction: column;
    margin: 5px 0px;
  }

  .link {
    font-size: 15px;
  }
}
