<nav class="nav-orange">   
    <div class="wrap">
        <%# <%= image_tag("logo.png") %> 
        <div>
            <h3>Igreja Católica Sagrado Coração de Jesus</h3>
        </div>

        <div class="nav-links">
            <ul>
                <li>
                    <a href="#ponto-de-vendas">Ponto de vendas</a>
                </li>
                <li>
                    <a href="#cronograma">Cronograma</a>
                </li>
                <li>
                    <a href="#info">Informações</a>
                </li>
                <li>
                    <a href="#acesso">Acesso</a>
                </li>
            </ul>
        </div>
    </div>
</nav>