<nav class="nav-orange">   
    <div class="wrap">
        <div>
            <h3>Igreja Católica Sagrado Coração de Jesus</h3>
        </div>

        <div class="nav-links">
            <ul class="link-list">
                <li>
                    <a href="#ponto-de-vendas" class="link" >Ponto de vendas</a>
                </li>
                <li>
                    <a href="#cronograma" class="link" >Cronograma</a>
                </li>
                <li>
                    <a href="#info" class="link" >Informações</a>
                </li>
                <li>
                    <a href="#acesso" class="link" >Acesso</a>
                </li>
            </ul>
        </div>
        <div class="menu-icon">
            <i class="fa-solid fa-bars hamburguer-icon"></i>      
        </div>
    </div>
</nav>