// Nav
$link-before-after: #262626;

// Nav (Mobile)
$link-hover: #fff;

// Nav and Tabs
$dark-green: #006400;

// Nav and Footer
$bg-nav-footer: #ffa500;

// Tabs
$section-bg: #ffe4c4;
$tab-border: #ccc;
$tab-bg: #008000;
$active-tab: #009500;

// Prize Card
$prize-box-shadow: #0000001a;
$prize-content-bg: #000000b3;

// Ponto de Vendas
$pv-card-border: #000000;
$letter-color: #181818;
$pv-box-shadow: #b2b2b2;
$pv-card-hover: #708090;

// Info Board
$info-border: #71554a;
$board-linear-color-1: #57392d;
$board-linear-color-2: #57392d;
$info-board-bg: #91695e;

// Post-it
$post-it-bg-color: #fff9c4;
$shadow: #808080;
$h3-color: #6e2c00;

// Post-it (Mobile)
$yellow-bg: #ffff93;
$green-bg: #a6eaa6;
$blue-bg: #a4caea;
$purple-bg: #deb3f2;
$pink-bg: pink;
$orange-bg: #ffb898;

// Map
$map-shadow: #696969;

// Sponsors
$sponsors-before-after-bg: linear-gradient(
  (to left, rgba(255, 235, 205, 0), rgba(255, 235, 205, 0.6))
);
