<div>
  <%= partial "partials/hero_page" %>
</div>

<div class="ponto-de-vendas-container" id="ponto-de-vendas">
  <h3 class="sub-header">Ponto de vendas</h3>
</div>

<div class="info-container" id="info">
  <h3 class="sub-header">Informações</h3>
  <%= partial "partials/info_board" %>
</div>

